<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectPeriod1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/a862706d02.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- <header>
        <div class="mx-4 text-center alert-light alert-server" role="alert">
            <div class="w-50">
                <img class="" src="~/img/logotgg.png" />
            </div>
            <div class="w-50"> <h2><strong>No Desk</strong></h2> Licensed to The Garden Group.</div>
            <button type="button" class="close" data-dismiss="alert">×</button>

        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">The Garden Group</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                      
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-success text-dark disabled">Welkom @User.Identity.Name</a>
                                </li>

                            }
                        }

                    </ul>

                </div>
            </div>
        </nav>
    </header> !-->
    <header>
        <div class="p-4 alert-light alert-server container" role="alert">
            <div class="row">
                <div class="w-25">
                    <img class="" src="~/img/logotgg.png" />
                </div>
                <div class="w-75 text-right">
                    <h1><strong>No Desk</strong></h1>
                    <h4>Licensed to The Garden Group.</h4>
                </div>
            </div>

            @{
                if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <div class="p-0 m-0 text-center row">
                                    <div class="w-100">
                                        <small>
                                            Welkom <strong>@User.Identity.Name</strong>!
                                            <a asp-area="" asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt"></i></a>
                                        </small>
                                    </div>
                    </div>
                    }
                }

                </div>
        <nav class="
          navbar navbar-expand-sm navbar-toggleable-sm navbar-light
          bg-white
          border-bottom
          box-shadow
          mb-3
        ">
            <div class="container">
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="
              navbar-collapse
              collapse
              d-sm-inline-flex
              flex-sm-row-reverse
            ">
                    <ul class="navbar-nav flex-grow-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark"
                                           asp-area=""
                                           asp-controller="Ticket"
                                           asp-action="Index">Home</a>
                                    </li>
                                </div>
                                <div class="col-sm">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark"
                                           asp-area=""
                                           asp-controller="Ticket"
                                           asp-action="List">Incident Management</a>
                                    </li>
                                </div>
                                <div class="col-sm">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark"
                                           asp-area=""
                                           asp-controller="User"
                                           asp-action="List">User Management</a>
                                    </li>
                                </div>
                            </div>
                        </div>

                        <li class="nav-item"></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - The Garden Group - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
