@model ProjectPeriod1.Models.Ticket


<form asp-action="Create">
    <fieldset class="idea-form">
        <h2>Create new incident ticket</h2>
        <form id="myForm" runat="server">
            <p>Subject of incident: @Html.TextBoxFor(m => m.Subject_Incident)</p>
            <p>
                Type of incident:
                @Html.DropDownListFor(model => model.Type,
                  new List<SelectListItem> {
                       new SelectListItem { Value = "0" , Text = "Software" },
                       new SelectListItem { Value = "1" , Text = "Hardware" },
                       new SelectListItem { Value = "2" , Text = "Service" }
                    },
                  new { @class = "myselect" })
            </p>
            <p>
                Reported by user:
                @Html.DropDownListFor(model => model.Id,
                  new List<SelectListItem> {
                       new SelectListItem { Value = "0" , Text = "Sander" },
                       new SelectListItem { Value = "1" , Text = "Fabian" },
                       new SelectListItem { Value = "2" , Text = "Sed" },
                       new SelectListItem { Value = "3", Text = "Zico"}
                    },
                  new { @class = "myselect" })
            </p>
            <p>
                Priority:
                @Html.DropDownListFor(model => model.Priority,
                     new List<SelectListItem> {
                          new SelectListItem { Value = "0" , Text = "Low" },
                          new SelectListItem { Value = "1" , Text = "Normal" },
                          new SelectListItem { Value = "2" , Text = "High" }
                       },
                     new { @class = "myselect" })
            </p>
            <p>
                Deadline/Follow up:
                @Html.DropDownListFor(model => model.Deadline,
                     new List<SelectListItem> {
                          new SelectListItem { Value = "0" , Text = "7 Days" },
                          new SelectListItem { Value = "1" , Text = "14 Days" },
                          new SelectListItem { Value = "2" , Text = "28 Days" },
                          new SelectListItem { Value = "3", Text = "6 Months"}
                       },
                     new { @class = "myselect" })
            </p>
            <p>Description:  @Html.TextBoxFor(m => m.Description)</p>
        </form>
        <a class="cancel" asp-action="Delete">
            <div class="form-group">
                <input type="submit" value="Cancel" class="btn btn-primary" />
            </div>
        </a>

        <a class="create" asp-action="Create">
            <div class="form-group">
                <input type="submit" value="Submit Ticket" class="btn btn-primary" />
            </div>
        </a>
    </fieldset>
</form>