@model IEnumerable<ProjectPeriod1.Models.Ticket>





<h1>Overview Tickets</h1>
<a class="create" asp-action="Create"><div class="form-group">
    <input type="submit" value="Create Incident" class="btn btn-primary" />
</div></a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tic in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => tic.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tic.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tic.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tic.LastUpdated)
            </td>
        </tr>
        }
    </tbody>
   </table>
    
